/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color:grey;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 10px 0;
}

section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.drama-card {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.drama-card img {
    width: 35%;
    height: 35%;
    border-radius: 5px;
}

#drama-details {
    display: none;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: grey;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
